@page "/counter"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Counter> localizer

<h1>@localizer["Header"]</h1>

<div role="status" style="padding-bottom: 1em;">
    @localizer["CurrentCount"]: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge>
</div>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">@localizer["ClickMe"]</FluentButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
